*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mySwiper img{
    width:100%;
    height:45vw;
    object-fit: cover;
}
.navbar{
    background-color: black !important;
    background-image: url('./dots1.png'),url('./dots1.png'),url('./dots1.png'),url('./dots1.png');
    background-repeat: repeat,repeat,repeat,repeat;
    background-position: left top 10px, left top 20px,left top 30px,left top 40px;
    position: relative;
    
}
.navbar a{
    /* background-color: crimson !important; */
    color: aliceblue !important;
 }
 .navbar-nav{
  column-gap: 86px;
 }

 .main {
    background: linear-gradient(
      to right,
      #6f7280,
      #2a2c3c,
      #181827,
      #833ab4,
      #fd1d1d,
      #fcb045
    );
    background-size: 400% 400%;
    animation: body 10s infinite ease-in-out;
  }
  
  @keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }

.login-box {
  width: 400px;
  padding: 40px;
  transform: translate(50%, 55%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  position: absolute;
  z-index: 20;
}
.login-box .user-box label {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: 10px;
  left: 9px;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #c81d1d;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  /* margin-top: 40px; */
  letter-spacing: 4px
}
.form-control{
  margin: 12px 0px;
  
}
.error {
  color: aqua;
}
.password{
  color: aqua;
}

.login-box button:hover {
  background: #2edbf2e0;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 5px #982828e0,
              0 0 25px #582ef2e0,
              0 0 50px #39d56ae0,
              0 0 100px #f2e82ee0;
}

.login-box button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #FCEF13);
  animation: btn-anim1 2s linear infinite;
}
.mainlogb{
  position: absolute;
  right: 30px;
}

.main-login{
  /* background-color: black !important; */
  background: linear-gradient(144deg, black, transparent);
  height: 750px;
  position: relative;
  display: flex;
}
.ImageLion{
  position: absolute;
  top: 0;
  right: 0;
}
.ImageLion img{
  height: auto;
  width: 84rem;
}
input[type="text"]:focus,[type="password"]:focus{
  box-shadow: none;
}
input[type="text"],[type="password"]{
  border-radius: 0;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box h6{
  color: red;
}
/* --------------------------------------------Video------------------------------------------- */
.video-smoke-container{
  width: 105.4%;
  height: 751px;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 0;
}
.video-smoke-container .smoke1{
  
  width: 100%;
  /* height: 112%; */
  mix-blend-mode: lighten;
  
}
.video-smoke-container .smoke1 video{
  width: 100%;
}

/* -----------------------Login & Logout button */

.mainlogb .BtnLogout {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #e00c0c;
  
}

.mainlogb .BtnLogout .signlogout {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainlogb .BtnLogout .signlogout svg{
  width: 17px;
}
.mainlogb .BtnLogout .signlogout svg path{
  fill: whitesmoke;
}

.mainlogb .BtnLogout:hover{
  width: 120px;
  border-radius: 40px;
  padding-left: 5px;
}
.mainlogb .BtnLogout:hover .signlogout{
  justify-content: left;
}
.Btn:hover .signlogout {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.logout-text{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.mainlogb .BtnLogout:hover .logout-text{
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.mainlogb .BtnLogout:active{
  transform: translate(2px,2px);
}




/* -----------------------login text----------------- */

.BtnLogin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(163, 142, 255);
 
}

.signlogin {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signlogin svg{
  width: 17px;
}
.signlogin svg path{
  fill: whitesmoke;
}

.BtnLogin:hover{
  width: 120px;
  border-radius: 40px;
  padding-left: 5px;
}
.BtnLogin:hover .signlogin{
  justify-content: left;
}
.Btn:hover .signlogin {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.login-text{
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.BtnLogin:hover .login-text{
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.BtnLogin:active{
  transform: translate(2px,2px);
}
